.biglogo {
    width: 100px; /* Adjust width as needed */
    height: auto;
    transition: transform 0.2s ease-in-out; /* Add smooth transition */
  }
  
  .biglogo:hover {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .sticky-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    padding: 10px;
    transition: height 0.3s ease;
}
.sticky-panel:hover {
  height: 100px; /* Adjust desired hover height */
}

.icon {
  display: none;
}

.sticky-panel:hover .icon {
  display: block;
  margin: 0 auto;
}